@font-face {
    font-family: 'Caveat', cursive;
    font-weight: normal;
    font-style: black;
}
@font-face {
    font-family: 'RussoOne-Regular';
    src: url("fonts/RussoOne-Regular") format("truetype");
    font-weight: normal;
    font-style: bold;
}
#table-form {
    font-family: 'RussoOne-Regular';
    text-align: left;
}
.table {
    font-family: 'Caveat', cursive;
    text-align: left;
    display: table;         
    width: auto;        
    background-color: greenyellow;         
    border: 1px solid white;         
    border-spacing: 7px; 
  }
  .table-line {
    display:table-row;
    width: auto;
  }
  .table-line-column {
    float: left; 
    display: table-column;         
    width: 200px;         
    background-color: royalblue;  
  }