.biglist {
  width: 100vw; 
  height: 100vh;
  position:absolute;
  background: greenyellow;
}
.onecolumn {
  width: 33vw;
  height: 100vh;
  float: left;
  position:relative;
  background: coral;
}
.onecolumn-img {
  position: relative;
  float: left;
  width: 20vw;
  height: 25vh;
}

.secondcolumn {
  width: 33vw;
  height: 100vh;
  float: left;
  position:relative;
  background:blue;
}
.secondcolumn-onesquare {
  width: 100px;
  height: 100px;
  position:relative;
  top: 25%;
  left: 40%;
  border: 5px black;
  background: red;
}
.onecircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  position: relative;
  top: 25%;
  left: 25%;
}
.secondcolumn-secondsquare {
  width: 100px;
  height: 100px;
  position:relative;
  top: 30%;
  left: 40%;
  background: red;
}
.secondcircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  position: relative;
  top: 25%;
  left: 25%;
}
.thierdcolumn {
  width: 33vw;
  height: 100vh;
  float: left;
  position:relative;
  background:yellow;
}
.onepictures-img {
  position: relative;
  width: 5vw;
  height: 7vh;
}
.secondpictures-img {
position: relative;
  width: 5vw;
  height: 7vh;
}
.thierdpictures-img {
  position: relative;
  width: 5vw;
  height: 7vh;
}